body{
    background-color:  hsl(47, 88%, 63%);
}
.container{
    width: 370px;
    height: 550px;
    background-color:  hsl(0, 0%, 100%);
    justify-content: center;
    flex-direction: column;
    margin-left: 40%;
    display: flex;
    border-radius: 15px 15px;
    box-shadow: 10px 10px black;
}
.container:hover{
    box-shadow: 20px 20px black;
}
h3:hover{
    color: blueviolet;
}
.image{
    border-radius:  15px 15px;  
    justify-items: center;
    margin: 4%;
    
}

button{
    width: 80px;
    height: 30px;
    margin-left: 4%;
    background-color:hsl(47, 88%, 63%) ;
    border-radius: 4px;
    color: black;
}

.container p{
    margin-left: 4%;
    color:  hsl(0, 0%, 7%);
    font-size: 16px;
}
.container h3{
    margin-left: 4%;
}

.logo img{
    border-radius: 50%;
    
}



